<a href="https://colab.research.google.com/github/pyidser/pandas/blob/main/Pandas_Tutorial_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
pd.DataFrame({'Yes':[12,33],'No':[32,55]})

   Yes  No
0   12  32
1   33  55